:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightgrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
/* .footer-middle {
  background: var(--mainDark);
  background-color: var(--mainBlue);
  padding-top: 3rem;
  color: var(--mainBlue);
}
.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
} */
