:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightgrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}
/* .footer-middle {
  background: var(--mainDark);
  background-color: var(--mainBlue);
  padding-top: 3rem;
  color: var(--mainBlue);
}
.footer-bottom {
  padding-top: 3rem;
  padding-bottom: 2rem;
} */

img.homeimg {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
